@import "vars";

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html,
  body{
    min-height: 100%;
    background-color: $gray;
    @include f400;
    overflow-x: hidden;
  }
  .container{
    max-width: 1330px;
    padding: 0px 50px;
    margin: 0 auto;
  }