$black:#1f2c33;
$orange:#ed4f2e;
$gray:#ebebeb;

@mixin f400 {
    font-family: 'OpenSans';
    font-weight: 400;
}
@mixin f500 {
    font-family: 'OpenSans-Semibold';
    font-weight: 500;
}
@mixin f700 {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
}
