@import "global";
@import 'fonts';
@import 'vars';
@import 'icomoon';

.fullscreen {
  position: relative;
  &__inner{
    background-image:url('../images/bg-fullscreen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  &__wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(200,73,47,0.8);
    width: 100%;
    
  } 
  &__body {
    text-align: center;
    width: 935px;
  }
  &__title {
    @include f400;
    font-size: 50px;
    line-height: 64px;
    color: #fff;
  }
  &__text {
    @include f400;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    // width: 570px;
    margin: 40px auto;
  }
  &__button {
    @include f400;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    width: 185px;
    height: 53px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 40px;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      color: #1f2c33;
      transition: all .3s;
    }
    }
}
//fs end


//menu

.menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0px;
  }
  &__list {
    ul{
      padding-left: 0px;
      display: flex;
    }
      li{
      list-style: none;
      display: flex;
      align-items: center;
      &+li{
        margin-left: 30px;
      }
      a{
        text-transform: uppercase;
        display: flex;
        @include f400;
        text-decoration: none;
        color: $black;
        &:hover{
          color:#ed4f2e;
          transition: all .3s;
        }
      }
    }
  }
  .bg{
    height: 33px;
    width: 74px;
    background-color: #ed4f2e;
    align-items: center;  
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    position: relative;
    &:hover{
     color: #fff;

    }
  }
}

//menu end


//services

.wrapper{
  max-width: 1329px;
  border-radius: 30px 30px 0 0;
  background-color: #ffffff;
  margin: 0 auto;
}
.services {
  margin-bottom: 55px;
  &__head{
    width: 535px;
    padding-top: 90px;
    margin: 0 auto;
  }
  &__inner{
    padding: 160px 55px 130px;
    display: flex;
    flex-wrap: wrap;
  }
  &__offers {
    padding: 0px 25px;
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
      margin-top: 90px;
    }
    flex-basis: calc(33.333%);
  }
}

.block-title{
  text-align: center;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: -35px;
    left: 35%;
    background-image: url('../images/arrow.png');
    width: 158px;
    height: 12px;
  }
  &__title{
color: #ed4f2e;
font-size: 35px;
font-weight: 400;
line-height: 64px;
text-transform: uppercase;
  }
  &__text{
    font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #1f2c33;
  }
}

.offer-item {
  text-align: center;
  >span{
    transition: all.2s;
  }
  >span:hover{
      color: #ed4f2e;
      transition: all.2s;
      cursor: pointer;
     }
  &__icon { 
    font-size: 50px;
  }
  &__title {
  font-size: 25px;
  font-weight: 400;
  line-height: 64px;
  }
  &__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #4f4f4f;
  }
}



//services end


//video
.vjs-poster{
  background-size: cover;
  background-position: center;
}
.video-js{
  outline: none;
  height: 587px;
}
.video-js .vjs-big-play-button{
  top: 40%;
  left: 50%;
  width: 86px;
  height: 87px;
  border-radius: 50%;
  border: 9px solid #fff;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
    top: -18px;
    left: 0;outline: none;
}
.video-js .vjs-big-play-button {
  font-size: 7em;outline: none;
}

//video end

//price
.wrapper--revers{
  margin-top: 57px;
  border-radius: 0 0 30px 30px ;
}
.price {
  &__flex{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
  }
  text-align: center;
  &__inner{
    width: 535px;
    padding-top: 35px;
    padding-bottom: 55px;
    transition: all .3s;
    &:hover{
      margin-top: -30px;
      margin-bottom: -20px;
      transition: all .3s;
      cursor: pointer;

    }
  }
  &__wrapper {
    padding: 0px 90px 90px 90px;
    margin-bottom: 55px;
  }
  &__head {
    width: 535px;
    padding-top: 90px;
    margin: 0 auto;
  }
}



.price-item {
  border: 1px solid $gray;
  width: 263px;
  &:hover{
    border: 1px solid $orange;
  }
  &__mode {
    color: #1f2c33;
    @include f700;
    padding-bottom: 25px;
  }
  &__price {
    transition: all .3s;
    padding: 30px 0 30px 0;
    background-color: #ebebeb;
    @include f500;
    font-size: 45px;
    span{
      color: #1f2c33;
      font-size: 24px;  
    }
  }
  .orange{
    background-color: $orange;
    transition: all .3s;
  }
  &__descr {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    padding: 55px 0 48px;
    padding-left: 45px;
    padding-right: 45px;
  }
  &__button {
    a{
      width: 121px;
      height: 33px;
      border-radius: 5px;
      background-color: #ed4f2e;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      margin: 0 auto;
    }
  }
}


//price end




//get started

.get-started {
  &__wrapper {
    background-image: url('../images/get-started-bg.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 185px;
    padding-bottom: 185px;
    text-align: center;
  }
  &__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
    padding-bottom: 40px;
  }
  &__text {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    @include f400;
    color: #fff;
    
  }
  &__button {
    a{
      border-radius: 10px;
      border: 1px solid #fff;
      text-decoration: none;
      padding: 15px 40px 15px 15px;
      color: #fff;
      position: relative;
      text-transform: uppercase;
      display: block;
      width: 170px;
      margin: 0 auto;
      transition: .3s;
     &::after{
       position: absolute;
       content: '';
       top: 45%;
       right: 14%;
      background-image: url('../images/icons/arrow-right.png');
      width: 14px;
      height: 8px;
     }
     &:hover{
      transform: scale(.9);
      transition: .3s;
     }
    }

  }
}

//get started end


//latest projects
.latest-project__title{
  width: 535px;
  padding-top: 90px;
  margin: 0 auto;
}
.latest-project{
  &__wrapper{
    margin-top: 55px;
    margin-bottom: 55px;
  }
  &__inner {
    margin-left: -15px;
  }
  &__mix {
    display: flex;
    justify-content: center;
    padding-top: 85px;
    align-items: center;
    }
    button{
      position: relative;
      border: none;
      &.mixitup-control-active{
        background-color: $orange;
        padding: 5px 15px;
        border-radius: 10px;
        color: #fff;
        }
      &+button{
      margin-left: 35px;
      &::before{
        position: absolute;
        color: $black;
        content: "/";
        top: -1;
        left: -25%;

      }
    }
      background-color: #fff;
      font-size: 14px;
      line-height: 20px;
      @include f500;
      outline: none;
    }
  &__elements {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    margin-right: 25px;
    padding-bottom: 90px;
    a{
      display: flex;
      flex-basis:33.333%;
      width: 365px;
      height: 361px;
      margin-top: 40px;
      img{
        max-width: 100%;
        max-height: 100%;  
      }
    }
  } 
}

//latest projects end


//customers

.happy-customers {
  &__wrapper {
    display: flex;
  }
  &__subscribe {
    flex-basis: calc(50%);
    background-image: url('../images/form-slider-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 120px;
  }
  &__inner{
    width: 100%;
  }
  &__box{
    text-align: center;
  }
  &__title {
    line-height: 20px;
    text-transform: uppercase;
    font-size: 35px;
    @include f500;
    color: #fff;
  }
  &__form {
    padding-top: 25px;
    align-items: center;
    input{
      width: 100%;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 20px 0px 20px 18px;
      outline: none;
      margin: 0 auto;
      width: 416px;
      color: #fff;
      display: block;
    }
    button{
      display: block;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      width: 120px;
      height: 40px;
      border-radius: 5px;
      background-color: #ed4f2e;
      border: none;
      color: #fff;
      outline: none;
      cursor: pointer;
      transition: .3s;
      display: block;
      &:active{
        transform: scale(.7);
        transition: .3s;
      }
    }
  }
}

.customers-slider {
  flex-basis: calc(50%);
  background-image: url('../images/bg-slider.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  &__inner{
    padding: 170px 45px 95px 0px;
  }
  &__item{
    max-width: 445px;
    text-align: center;
  }
  &__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    @include f500;
  }
  &__text{
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    @include f400;
    padding-top: 25px;
  }
  &__photo {
    padding-top: 20px;
    img{
      margin: 0 auto;
    }
  }
}
.slick-slider{
  width: 520px;
  text-align: center;
}
.slick-dots{
  display: flex;
  justify-content: center;
  padding-left: 0px;
  li{
    list-style: none;
    button{
      border: none;
      outline: none;
      font-size: 0px;
      width: 13px;
      height: 12px;
      border-radius: 50%;
      cursor: pointer;
    }
    &+li{
      padding-left: 6px;
    }
  }
}
.slick-active{
  button{
    background-color: #8f301d;
  }
  
}

//customers end

//contacts

.contacts {
  &__wrapper {
    padding: 0px 90px 90px 90px;
    margin-bottom: 55px;
    margin-top: 50px;
  }
  &__head {
    width: 535px;
    padding-top: 90px;
    margin: 0 auto;
  }
  &__items {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    color: #1f2c33; 
    outline: none;
    border-radius: 10px;
    border: 1px solid #cccccc;
    display: block;
    width: 556px;
    height: 74px;
    margin-top: 30px;
    padding-left: 20px;
  }
  &__textarea {
    color: #1f2c33;
    padding-top: 26px;
    padding-left: 20px;
    outline: none;
    display: block;
    border-radius: 10px;
    border: 1px solid #cccccc;
    width: 1150px;
    height: 293px;    
    resize: none;
    margin-top: 30px;
  }
  &__button {
    outline: none;
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #ed4f2e;
    border: none;
    color: #fff;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    transition: .3s;
    &:active{
      transform: scale(.7);
      transition: .3s;
    }
  }
}

//contacts end

//footer

.footer {
  padding: 90px 0 0 0;
  background-color: $black;
  .footer__get-in-touch--padding{
    padding-left: 20px;
  }
  .footer__about-us_unique{
    padding-right: 30px;
  }
  &__wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__about-us {
    flex-basis: calc(25%);
  }
  &__title {
    @include f700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
  }
  &__logo {
    padding-top: 35px;
  }
  &__text {
    padding-top: 30px;
    padding-bottom: 20px;
    @include f400;
    letter-spacing: 0.28px;
    color: #8a98a4;
  }
  &__get-in-touch {
    flex-basis: calc(25%);
    ul{
      margin: 0px 0px;
      padding-left: 0px;
    li{
      list-style: none;
      color: #8a98a4;
      span{
        padding-right: 8px;
      }
      &+li{
        padding-top:10px;
      }
      a{
        color: #8a98a4;
        text-decoration: none;
      }
    }
  }
  }
  &__latest-works {
    flex-basis: calc(25%);
  }
  &__images {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    max-width: 275px;
  }
  &__image {
      flex-basis: calc(50%);
      margin-top: 5px;
  }
  &__subscribe {
    flex-basis: calc(25%);
  }
  &__form {
    position: relative;
    input{
      outline: none;
      padding-left: 10px;
      color: #a3b1bf;
      border-radius: 3px;
      height: 40px;
        width: 230px;
      background-color: #414c52;
      border: none;
    }
    button{
      width: 100px;
      height: 40px;
      background-color: #ed4f2e;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      right: 1%;
      padding: 0px 8px 0px 8px;
      cursor: pointer;
      outline: none;
    }
  }
  &__social {
  ul{
    padding-top: 35px;
    padding-left: 0px;
    li{
      display: inline-block;
      list-style: none;
      &+li{
        margin-left: 10px;
      }
      a{
       text-decoration: none;
        span{
        padding: 10px 15px;
        color:#fff;
        font-size: 20px;
        display: block;
        border: 1px solid #fff;
        transition: .3s;
        border-radius: 5px;
        &:hover{
          background-color: #414c52;
          transition: .3s;
        }
        }
      }
    }
  }
  }
  &__end {
    text-align: center;

  }
  &__rights {
    margin-top: 60px;
    background-color: #283645;  
    color: #fff;
    font-size: 14px;
    padding: 35px 0px;
  }
}


//footer end