@import "global";
@import 'fonts';
@import 'vars';
@import 'icomoon';

.fullscreen {
  position: relative;
  &__inner{
    background-image:url('../images/bg-fullscreen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  &__wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(200,73,47,0.8);
    width: 100%;
    
  } 
  &__body {
    text-align: center;
    width: 935px;
  }
  &__title {
    @include f400;
    font-size: 50px;
    line-height: 64px;
    color: #fff;
  }
  &__text {
    @include f400;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    // width: 570px;
    margin: 40px auto;
  }
  &__button {
    @include f400;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    width: 185px;
    height: 53px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 40px;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      color: #1f2c33;
      transition: all .3s;
    }
    }
}
//fs end


//menu

.menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0px;
  }
  &__list {
    ul{
      padding-left: 0px;
      display: flex;
    }
      li{
      list-style: none;
      display: flex;
      align-items: center;
      &+li{
        margin-left: 30px;
      }
      a{
        text-transform: uppercase;
        display: flex;
        @include f400;
        text-decoration: none;
        color: $black;
        &:hover{
          color:#ed4f2e;
          transition: all .3s;
        }
      }
    }
  }
  .bg{
    height: 33px;
    width: 74px;
    background-color: #ed4f2e;
    align-items: center;  
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    position: relative;
    &:hover{
     color: #fff;

    }
  }
}

//menu end


//services

.wrapper{
  max-width: 1329px;
  border-radius: 30px 30px 0 0;
  background-color: #ffffff;
  margin: 0 auto;
}
.services {
  margin-bottom: 55px;
  &__head{
    width: 535px;
    padding-top: 90px;
    margin: 0 auto;
  }
  &__inner{
    padding: 160px 55px 130px;
    display: flex;
    flex-wrap: wrap;
  }
  &__offers {
    padding: 0px 25px;
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
      margin-top: 90px;
    }
    flex-basis: calc(33.333%);
  }
}

.block-title{
  text-align: center;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: -35px;
    left: 35%;
    background-image: url('../images/arrow.png');
    width: 158px;
    height: 12px;
  }
  &__title{
color: #ed4f2e;
font-size: 35px;
font-weight: 400;
line-height: 64px;
text-transform: uppercase;
  }
  &__text{
    font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #1f2c33;
  }
}

.offer-item {
  text-align: center;
  >span{
    transition: all.2s;
  }
  >span:hover{
      color: #ed4f2e;
      transition: all.2s;
      cursor: pointer;
     }
  &__icon { 
    font-size: 50px;
  }
  &__title {
  font-size: 25px;
  font-weight: 400;
  line-height: 64px;
  }
  &__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #4f4f4f;
  }
}



//services end


//video
.vjs-poster{
  background-size: cover;
  background-position: center;
}
.video-js{
  outline: none;
  height: 587px;
}
.video-js .vjs-big-play-button{
  top: 50%;
  left: 50%;
  width: 86px;
  height: 87px;
  border-radius: 50%;
  border: 9px solid #fff;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
    top: -18px;
    left: 0;outline: none;
}
.video-js .vjs-big-play-button {
  font-size: 7em;outline: none;
}

//video end

//price
.wrapper--revers{
  margin-top: 57px;
  border-radius: 0 0 30px 30px ;
}
.price {
  &__flex{
    display: flex;
    justify-content: space-between;
  }
  text-align: center;
  &__inner{
    width: 535px;
    margin-top: 90px;
    padding-top: 35px;
    padding-bottom: 55px;
    &:hover{
      padding-top: 55px;
      padding-bottom: 80px;
    }
  }
  &__wrapper {
    padding: 0px 90px 90px 90px;
  }
  &_revers {
  }
  &__head {
    width: 535px;
    padding-top: 90px;
    margin: 0 auto;
  }
}



.price-item {
  border: 1px solid $gray;
  width: 263px;
  &__mode {
    color: #1f2c33;
    @include f700;
    padding-bottom: 25px;
  }
  &__price {
    padding: 30px 0 30px 0;
    background-color: #ebebeb;
    @include f500;
    font-size: 45px;
    span{
      color: #1f2c33;
      font-size: 24px;  
    }
  }
  &__descr {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    padding: 55px 0 48px;
    padding-left: 45px;
    padding-right: 45px;
  }
  &__button {
    a{
      width: 121px;
      height: 33px;
      border-radius: 5px;
      background-color: #ed4f2e;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      margin: 0 auto;
    }
  }
}


//price end